.dashboard{
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.flex-i {
	display: flex;
	flex-direction: column;
	}

@media (max-width: 850px) {
	.dashboard {
		flex-direction: column;
		align-items: center;
	}
	.add {
		margin-bottom: 20px !important;
	}
	form{
		margin-top: 0 !important;
	}

	.add-button{
		margin-bottom: 20px;
	}

	.sep {
		margin-right: 30px;
	}

	.flex-i{
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	}

  }

h1{
	font-size: 2em;
	line-height: 1.1;
	margin: 0;
}

h2{
	font-weight: 500;
	font-size: 1.1em;
	line-height: 1.1;
	margin: 0;
}

form {
	margin-top: 64px;
	display: flex;
	flex-direction: column;

}

.add {
	margin-top: 20px !important;
	width: 350px !important;
	padding: 20px;
}

.text{
	text-align: left;
	background-color: rgb(6, 49, 89);
	padding: 10px;
	border: 0;
	min-width: 100px;
	border-radius: 5px;
	color: white;
	margin: 20px;
}

.gap {
	margin: 10px !important;
}

